#container{
    width: 90%;
    height: 300px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
}

img{
    width: 33.3%;
    height: 100%;
    position: absolute;
}
.left{
    width: 40px;
    height: 40px
}

button{
    position: relative;
    top: 145px;
    background-color: transparent;
}
#next{
    display: block;
    float: left;
}
#previous{
    display: block;
    float: right;
}